@media (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 30px;
        margin-top: 0;
    }

    .galeria-templos {
        grid-template-columns: repeat(3, 1fr);
    }
}